<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="drewhamilton.skylight.views">

  <application
      android:theme="@style/Theme.MaterialComponents">

    <!-- region test activities -->
    <activity
        android:name=".test.view.ViewTestActivity" />
    <!-- endregion -->

  </application>

</manifest>
